<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.lay.shop.greeston.dao.inv.InventoryChangeDao">
	<resultMap id="InventoryChangeResult" type="com.lay.shop.greeston.model.inv.InventoryChange">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="inventoryChangeColumns">
	    <![CDATA[
	        	id as id,
	        	brand_code as brandCode,
	        	shop_code as shopCode,
	        	sku_code as skuCode,
	        	quantity as quantity,
	        	status as status,
	        	remark as remark,
	        	create_time as createTime,
	        	update_time as updateTime,
	        	user_id as userId
	    ]]>
	</sql>
	
		<!-- 如果有自增字段 -->
	
			<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
			<insert id="insert" parameterType="com.lay.shop.greeston.model.inv.InventoryChange" 
				useGeneratedKeys="true" keyProperty="id" 
			 flushCache="true">
		    <![CDATA[
		        INSERT INTO
		        inv_inventory_change (
		        	brand_code ,
		        	shop_code ,
		        	sku_code ,
		        	quantity ,
		        	status ,
		        	remark ,
		        	create_time ,
		        	update_time ,
		        	user_id 
		        ) VALUES (
		        	#{brandCode,javaType=String,jdbcType=VARCHAR} ,
		        	#{shopCode,javaType=String,jdbcType=VARCHAR} ,
		        	#{skuCode,javaType=String,jdbcType=VARCHAR} ,
		        	#{quantity,javaType=Integer,jdbcType=INTEGER} ,
		        	#{status,javaType=Integer,jdbcType=INTEGER} ,
		        	#{remark,javaType=String,jdbcType=LONGVARCHAR} ,
		        	#{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{updateTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{userId,javaType=Long,jdbcType=BIGINT} 
		        )
		    ]]>
	
			</insert>
		
		<update id="update" parameterType="com.lay.shop.greeston.model.inv.InventoryChange">
	    <![CDATA[
	        UPDATE inv_inventory_change SET
		        brand_code = #{brandCode,javaType=String,jdbcType=VARCHAR} ,
		        shop_code = #{shopCode,javaType=String,jdbcType=VARCHAR} ,
		        sku_code = #{skuCode,javaType=String,jdbcType=VARCHAR} ,
		        quantity = #{quantity,javaType=Integer,jdbcType=INTEGER} ,
		        status = #{status,javaType=Integer,jdbcType=INTEGER} ,
		        remark = #{remark,javaType=String,jdbcType=LONGVARCHAR} ,
		        create_time = #{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        update_time = #{updateTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        user_id = #{userId,javaType=Long,jdbcType=BIGINT} 
	        WHERE 
		        id = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from inv_inventory_change where
		        id = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	    
	        delete from inv_inventory_change 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>	
	  
	    </delete>  
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="InventoryChangeResult" flushCache="false">
			select <include refid="inventoryChangeColumns" />
		    <![CDATA[
			    from inv_inventory_change 
		        where 
		        id = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="InventoryChangeResult" flushCache="false">
			select <include refid="inventoryChangeColumns" />
			    from inv_inventory_change 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="inventoryChangeDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and id = #{id}
				</if>
	       
				<if test="brandCode!=null">
					and brand_code = #{brandCode}
				</if>
	       
				<if test="shopCode!=null">
					and shop_code = #{shopCode}
				</if>
	       
				<if test="skuCode!=null">
					and sku_code = #{skuCode}
				</if>
	       
				<if test="quantity!=null">
					and quantity = #{quantity}
				</if>
	       
				<if test="status!=null">
					and status = #{status}
				</if>
	       
				<if test="remark!=null">
					and remark = #{remark}
				</if>
	       
				<if test="createTime!=null">
					and create_time = #{createTime}
				</if>
	       
				<if test="updateTime!=null">
					and update_time = #{updateTime}
				</if>
	       
				<if test="userId!=null">
					and user_id = #{userId}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from inv_inventory_change 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from inv_inventory_change 
		<include refid="inventoryChangeDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from inv_inventory_change 
		<include refid="inventoryChangeDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="InventoryChangeResult">
    	select <include refid="inventoryChangeColumns" />
	    from inv_inventory_change 
		<include refid="inventoryChangeDynamicWhere"/>
		
    </select>
    
    <select id="findListByQueryMap" resultMap="InventoryChangeResult">
    	select <include refid="inventoryChangeColumns" />
	    from inv_inventory_change 
		<include refid="inventoryChangeDynamicWhere"/>
		
    </select>
    
    <select id="findListByParam" resultMap="InventoryChangeResult">
    	select <include refid="inventoryChangeColumns" />
	    from inv_inventory_change 
		<include refid="inventoryChangeDynamicWhere"/>
		
    </select>

	
</mapper>
