<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<http pattern="/css/**" security="none" />
	<http pattern="/images/**" security="none" />
	<http pattern="/libs/**" security="none" />
	<http pattern="/scripts/**" security="none" />
	<http pattern="/favicon.ico" security="none" />
	<http pattern="/errors/**" security="none" />
	<http pattern="/login" security="none" />

	<http access-decision-manager-ref="urlAccessDecisionManager">
		<intercept-url pattern="/**" access="IS_AUTHENTICATED_FULLY" />
		<form-login login-page="/login" default-target-url="/index" authentication-success-handler-ref="loginSuccessHandler"
			always-use-default-target="true" username-parameter="loginName" password-parameter="password" />
		<!-- 登出设置 -->
		<logout logout-url="/lout" logout-success-url="/login" invalidate-session="true" delete-cookies="JSESSIONID" />
		<!-- session控制 -->
		<session-management>
			<concurrency-control session-registry-alias="sessionRegistry" />
		</session-management>
	</http>


	<!-- 认证管理 -->
	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="userDetailsService"/>
	</authentication-manager>
	
	<beans:bean id="userDetailsService" class="com.lay.shop.greeston.manager.UserDetailsServiceImpl"></beans:bean>
	<beans:bean id="loginSuccessHandler" class="com.lay.shop.greeston.manager.LoginSuccessHandler"></beans:bean>
	
	<beans:bean id="urlAccessDecisionManager" class="org.springframework.security.access.vote.UnanimousBased">
		<beans:constructor-arg>
			<beans:list>
				<beans:bean class="org.springframework.security.access.vote.AuthenticatedVoter" />
				<beans:bean class="com.lay.shop.greeston.manager.UrlAccessDecisionVoter" />
			</beans:list>
		</beans:constructor-arg>
	</beans:bean>
</beans:beans>
