<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.lay.shop.modules.sys.dao.SysRoleDao">
	<resultMap id="SysRoleResult" type="com.lay.shop.modules.sys.model.SysRole">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="sysRoleColumns">
	    <![CDATA[
	        	id as id,
	        	name as name,
	        	org_type_id as orgTypeId,
	        	lifecycle as lifecycle,
	        	type as type
	    ]]>
	</sql>
	
		<!-- 如果有自增字段 -->
	
			<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
			<insert id="insert" parameterType="com.lay.shop.modules.sys.model.SysRole" 
				useGeneratedKeys="true" keyProperty="id" 
			 flushCache="true">
		    <![CDATA[
		        INSERT INTO
		        sys_role (
		        	name ,
		        	org_type_id ,
		        	lifecycle ,
		        	type 
		        ) VALUES (
		        	#{name,javaType=String,jdbcType=VARCHAR} ,
		        	#{orgTypeId,javaType=Long,jdbcType=BIGINT} ,
		        	#{lifecycle,javaType=Integer,jdbcType=INTEGER} ,
		        	#{type,javaType=Integer,jdbcType=INTEGER} 
		        )
		    ]]>
	
			</insert>
		
		<update id="update" parameterType="com.lay.shop.modules.sys.model.SysRole">
	    <![CDATA[
	        UPDATE sys_role SET
		        name = #{name,javaType=String,jdbcType=VARCHAR} ,
		        org_type_id = #{orgTypeId,javaType=Long,jdbcType=BIGINT} ,
		        lifecycle = #{lifecycle,javaType=Integer,jdbcType=INTEGER} ,
		        type = #{type,javaType=Integer,jdbcType=INTEGER} 
	        WHERE 
		        id = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from sys_role where
		        id = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	    
	        delete from sys_role 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>	
	  
	    </delete>  
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="SysRoleResult" flushCache="false">
			select <include refid="sysRoleColumns" />
		    <![CDATA[
			    from sys_role 
		        where 
		        id = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="SysRoleResult" flushCache="false">
			select <include refid="sysRoleColumns" />
			    from sys_role 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="sysRoleDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and id = #{id}
				</if>
	       
				<if test="name!=null">
					and name = #{name}
				</if>
	       
				<if test="orgTypeId!=null">
					and org_type_id = #{orgTypeId}
				</if>
	       
				<if test="lifecycle!=null">
					and lifecycle = #{lifecycle}
				</if>
	       
				<if test="type!=null">
					and type = #{type}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from sys_role 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from sys_role 
		<include refid="sysRoleDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from sys_role 
		<include refid="sysRoleDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="SysRoleResult">
    	select <include refid="sysRoleColumns" />
	    from sys_role 
		<include refid="sysRoleDynamicWhere"/>
		
    </select>
    
    <select id="findListByQueryMap" resultMap="SysRoleResult">
    	select <include refid="sysRoleColumns" />
	    from sys_role 
		<include refid="sysRoleDynamicWhere"/>
		
    </select>
    
    <select id="findListByParam" resultMap="SysRoleResult">
    	select <include refid="sysRoleColumns" />
	    from sys_role 
		<include refid="sysRoleDynamicWhere"/>
		
    </select>

	
</mapper>
