<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.lay.shop.modules.sys.dao.UserDao">
	<resultMap id="userResult" type="com.lay.shop.modules.sys.model.User">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="userColumns">
	    <![CDATA[
	        	id as id,
	        	org_id as orgId,
	        	login_name as loginName,
	        	job_no as jobNo,
	        	user_name as userName,
	        	login_password as loginPassword,
	        	create_time as createTime,
	        	email as email,
	        	phone as phone,
	        	lifecycle as lifecycle
	    ]]>
	</sql>
	
		<!-- 如果有自增字段 -->
	
			<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
			<insert id="insert" parameterType="com.lay.shop.modules.sys.model.User" 
			useGeneratedKeys="true" keyProperty="id" 
			 flushCache="true">
		    <![CDATA[
		        INSERT INTO
		        sys_user (
		        	org_id ,
		        	login_name ,
		        	job_no ,
		        	user_name ,
		        	login_password ,
		        	create_time ,
		        	email ,
		        	phone ,
		        	lifecycle 
		        ) VALUES (
		        	#{orgId,javaType=Long,jdbcType=BIGINT} ,
		        	#{loginName,javaType=String,jdbcType=VARCHAR} ,
		        	#{jobNo,javaType=String,jdbcType=VARCHAR} ,
		        	#{userName,javaType=String,jdbcType=VARCHAR} ,
		        	#{loginPassword,javaType=String,jdbcType=VARCHAR} ,
		        	#{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        	#{email,javaType=String,jdbcType=VARCHAR} ,
		        	#{phone,javaType=String,jdbcType=VARCHAR} ,
		        	#{lifecycle,javaType=Integer,jdbcType=INTEGER} 
		        )
		    ]]>
	
			</insert>
		
		<update id="update" parameterType="com.lay.shop.modules.sys.model.User">
	    <![CDATA[
	        UPDATE sys_user SET
		        org_id = #{orgId,javaType=Long,jdbcType=BIGINT} ,
		        login_name = #{loginName,javaType=String,jdbcType=VARCHAR} ,
		        job_no = #{jobNo,javaType=String,jdbcType=VARCHAR} ,
		        user_name = #{userName,javaType=String,jdbcType=VARCHAR} ,
		        login_password = #{loginPassword,javaType=String,jdbcType=VARCHAR} ,
		        create_time = #{createTime,javaType=java.util.Date,jdbcType=TIMESTAMP} ,
		        email = #{email,javaType=String,jdbcType=VARCHAR} ,
		        phone = #{phone,javaType=String,jdbcType=VARCHAR} ,
		        lifecycle = #{lifecycle,javaType=Integer,jdbcType=INTEGER} 
	        WHERE 
		        id = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from sys_user where
		        id = #{id} 
	    ]]>
	    </delete> 
	    
	     <delete id="deleteByIds" parameterType="list">
	    
	        delete from sys_user 
	        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>	
	  
	    </delete>  
	         
	    <select id="findById" parameterType="java.lang.Long" resultMap="userResult" flushCache="false">
			select <include refid="userColumns" />
		    <![CDATA[
			    from sys_user 
		        where 
		        id = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="userResult" flushCache="false">
			select <include refid="userColumns" />
			    from sys_user 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
	<sql id="userDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       
				<if test="id!=null">
					and id = #{id}
				</if>
	       
				<if test="orgId!=null">
					and org_id = #{orgId}
				</if>
	       
				<if test="loginName!=null">
					and login_name = #{loginName}
				</if>
	       
				<if test="jobNo!=null">
					and job_no = #{jobNo}
				</if>
	       
				<if test="userName!=null">
					and user_name = #{userName}
				</if>
	       
				<if test="loginPassword!=null">
					and login_password = #{loginPassword}
				</if>
	       
				<if test="createTime!=null">
					and create_time = #{createTime}
				</if>
	       
				<if test="email!=null">
					and email = #{email}
				</if>
	       
				<if test="phone!=null">
					and phone = #{phone}
				</if>
	       
				<if test="lifecycle!=null">
					and lifecycle = #{lifecycle}
				</if>
		</where>
	</sql>
	

	<select id="getCount" resultType="long">
        select count(*) from sys_user 
    </select>
    <select id="findListCountByQueryMap" resultType="long">
        select count(*) from sys_user 
		<include refid="userDynamicWhere"/>    
    </select>
    
    <select id="findListCountByParam" resultType="long">
        select count(*) from sys_user 
		<include refid="userDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findListByQueryMapWithPage" resultMap="userResult">
    	select <include refid="userColumns" />
	    from sys_user 
		<include refid="userDynamicWhere"/>
		
    </select>
    
    <select id="findListByQueryMap" resultMap="userResult">
    	select <include refid="userColumns" />
	    from sys_user 
		<include refid="userDynamicWhere"/>
		
    </select>
    
    <select id="findListByParam" resultMap="userResult">
    	select <include refid="userColumns" />
	    from sys_user 
		<include refid="userDynamicWhere"/>
		
    </select>

	
</mapper>
